<% enemy ||= @enemy %>

<div id="enemy-<%= enemy.id %>" class="enemy_stats">
  <div class="enemy_name"><%= enemy.name %> </div>
  <div class="enemy_stat enemy_health">Health: <%= enemy.health %></div>
  <div class="enemy_stat enemy_shield">Shield: <%= enemy.max_shield_strength %></div>
  <div class="enemy_stat enemy_speed">Speed: <%= enemy.speed %></div>
  <div class="enemy_stat enemy_distance">Distance: <%= enemy.distance%></div>
</div>
