<h1> Select Sector to Join </h1>

<table class="ship_table">
  <thead/>
  <tbody>
	  <tr>
		  <td>
        <%= link_to "Upper Red",	room_path(@ship.red_sector.upper_room) %>	<br/>
		  </td>
		  <td>
        <%= link_to "Upper White",	room_path(@ship.white_sector.upper_room) %>	<br/>
		  </td>
		  <td>
        <%= link_to "Upper Blue",	room_path(@ship.blue_sector.upper_room) %>	<br/>
		  </td>
	  </tr>
	  <tr>
		  <td>
        <%= link_to "Lower Red",	room_path(@ship.red_sector.lower_room) %>	<br/>
		  </td>
		  <td>
        <%= link_to "Lower White",	room_path(@ship.white_sector.lower_room) %>	<br/>
		  </td>
		  <td>
        <%= link_to "Lower Blue",	room_path(@ship.blue_sector.lower_room) %>	<br/>
		  </td>
	  </tr>
  </tbody>
</table>

<br/>
<br/>
Or, View the 
<%= link_to "Mission Page",	ship_path(@ship.id) %>	<br/>

