<!-- Friends and family, we are gathered here to remember the extraordinary 
courage and heroism the departed showed in service to their nation... Eh? 
Oh, sorry. Wrong group. Um... here we are!
My brave cadets, welcome to the accelerated learning course on Space 
Exploration. I admire the extraordinary courage and heroism you show in 
deciding to serve your nation. And I have no doubt you will be successful. 
You have volunteered to serve in the crew of a Sitting Duck class exploration 
ship. This course will be brief and intensive... but not just because the 
government is cutting our budget. No. We want to get you out into space 
as quickly as possible to replace... that is... Well, it’s not a hard job. Why 
waste time in training?
Your mission will be to explore certain regions of the Galaxy, take note of 
enemy actions, and look for dangerous sectors. Your ship will be equipped 
with the newest hyperspace engines, automatic scanners, and a powerful 
computer which will guide your actions. It is not a difﬁ cult routine: the ship 
automatically performs the hyperspace jump to the programmed sector, 
the scanners map the region, and when they are done the ship automatically 
jumps back home. The entire operation only takes 10 minutes, during which 
you don’t have to do anything at all. And, as I’m sure I don’t need to tell you, 
it is the best-paying 10 minutes of doing nothing that you will ever ﬁ nd. 
Now I see some of you smiling, so I have no doubt that you remember our 
recruiting pamphlet.
Actually, we could send you out without any training at all, but government 
regulations require a brief course ﬁ rst. And sometimes – not very often, 
you understand – but sometimes you encounter some hostile behavior 
that might, in only the most extreme cases, lead to some damage to your 
ship. And that’s why we send you along, really. Your job is to repel these 
feeble attacks and keep the ship functional for the 10 minutes it needs 
to take a picture of the sector. The computer automatically evaluates the 
position and intentions of the enemy and the ship is equipped with powerful 
shields, several laser cannons, self-guided rockets, squads of battlebots, 
and other defense systems, so it won’t be a problem to deal with any... um... 
problem that may arise. And I am pleased to tell you that those of you who 
do encounter the enemy will receive a handsome bonus if you return. “When 
you return,” I mean. I certainly have no doubt that... Anyway. Sorry. It’s a 
bit stuffy in here.
We’ll take a short break, now, because I am due to speak at a... ceremony 
for the previous crew. -->


<h1>Ready to start a new mission?</h1>
<%= form_for @ship do |f| %>

<%= f.submit 'Start Mission' %>
<% end %>

<h1>Join an existing mission?</h1>
<%= form_for @ship, :url => join_ships_path do |f| %>
<%= f.label :id, "Mission Number:" %>
<%= f.text_field :id, :size => 6 %>
<%= f.submit 'Join' %>
<% end %>
