<head>
<script>
function startTheMission()
{
	document.getElementById("theButton").innerHTML="Mission Started!"
}
</script>
</head>


<h1>Mission <%= @ship.id %></h1>


<% if @ship.mission_start != nil %>
	Mission Start Time: <%= @ship.mission_start %>
<% else %>
	Mission Has Not Started.
	<% @ship.start_mission %>
<% end %>

<%= button_to_function "Start The Mission!", "startTheMission()" %>

<button id="theButton" name="startMissionButton" onclick="startTheMission()"/> "Start The Mission!"</button>

<br/>
<br/>

<table class="ship_table">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.red_sector.upper_room} %>
      </td>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.white_sector.upper_room} %>
      </td>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.blue_sector.upper_room} %>
      </td>
    </tr>
    <tr>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.red_sector.lower_room} %>
      </td>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.white_sector.lower_room} %>
      </td>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.blue_sector.lower_room} %>
      </td>
    </tr>
    <tr>
      <td>
        Damage : <%= @ship.red_sector.damage %>
      </td>
      <td>
        Damage : <%= @ship.white_sector.damage %>
      </td>
      <td>
        Damage : <%= @ship.blue_sector.damage %>
      </TD>
    </tr>
  </tbody>
  
</table>


<input type="button" name="clickMe" value="Click me and wait!"
onclick="setTimeout('alert(\'Surprise!\')', 2000)"/>

<br/>
<%= Time.now %>
<br/>
<%= Time.now + (600)%>

