<h1>Mission <%= @ship.id %></h1>


<% if @ship.mission_start != nil %>
	Mission Start Time: <%= @ship.mission_start.localtime.strftime("%H:%M:%S")  %>
<br/>
	Mission End Time: <%= (@ship.mission_start.localtime + 10.minutes).strftime("%H:%M:%S") %>
<% else %>
  Mission Has Not Started.
  <%= button_to_function "Start The Mission!", "shipsFunctions.SendAjaxRequestToStartMission('#{start_mission_ship_path @ship}');" %>
<% end %>


<%= form_for @enemy do |f| %>
  <div>
    <%= f.label :sector_id %>
    <%= f.select :sector_id, [['Red', @ship.red_sector.id],['White', @ship.white_sector.id],['Blue', @ship.blue_sector.id]] %>
  </div>
  <div>
    <%= f.label :health %>
    <%= f.text_field :health, :size => 3, :value => 6 %>
  </div>
  <div>
    <%= f.label :max_shield_strength %>
    <%= f.text_field :max_shield_strength, :size => 3, :value => 1 %>
  </div>
  <div>
    <%= f.label :distance %>
    <%= f.text_field :distance, :size => 3, :value => 13 %>
  </div>
  <div>
    <%= f.label :speed %>
    <%= f.text_field :speed, :size => 3, :value => 2 %>
  </div>
  <div>
    <%= f.submit "Create Enemy" %>
  </div>
<% end %>

<table class="ship_table">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.red_sector.upper_room} %> <br/>
        <%= link_to "Go to room",	room_path(@ship.red_sector.upper_room) %>
      </td>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.white_sector.upper_room} %> <br/>
        <%= link_to "Go to room",	room_path(@ship.white_sector.upper_room) %>
      </td>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.blue_sector.upper_room} %> <br/>
        <%= link_to "Go to room",	room_path(@ship.blue_sector.upper_room) %>
      </td>
    </tr>
    <tr>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.red_sector.lower_room} %> <br/>
        <%= link_to "Go to room",	room_path(@ship.red_sector.lower_room) %>
      </td>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.white_sector.lower_room} %> <br/>
        <%= link_to "Go to room",	room_path(@ship.white_sector.lower_room) %>
      </td>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.blue_sector.lower_room} %> <br/>
        <%= link_to "Go to room",	room_path(@ship.blue_sector.lower_room) %>
      </td>
    </tr>
    <tr>
      <td>
        Damage : <%= @ship.red_sector.damage %>
      </td>
      <td>
        Damage : <%= @ship.white_sector.damage %>
      </td>
      <td>
        Damage : <%= @ship.blue_sector.damage %>
      </td>
    </tr>
  </tbody>
  
</table>

<div class="killed_enemies_title">Killed Enemies:</div>
<% any_dead_ships = false %>
<% @ship.sectors.each do |sector| %>
  <% sector.enemies.each do |enemy| %>
    <% if not enemy.alive? %>
	  <div><%= enemy.name %></div>
      <% any_dead_ships = true %>
    <% end %>
  <% end %>
<% end %>
<% if any_dead_ships == false %>
  <div>None</div>
<% end %>
