<h1>Mission <%= @ship.id %></h1>

<table class="ship_table">
  <thead>
  </thead>
  <tbody>
    <tr>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.red_sector.upper_room} %>
      </td>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.white_sector.upper_room} %>
      </td>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.blue_sector.upper_room} %>
      </td>
    </tr>
    <tr>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.red_sector.lower_room} %>
      </td>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.white_sector.lower_room} %>
      </td>
      <td>
        <%= render :partial => 'rooms/room_status', :locals => { :room => @ship.blue_sector.lower_room} %>
      </td>
    </tr>
  </tbody>
  
</table>