<% room ||= @room %>
<h1> <%= room.location %> </h1>

<% if room.upper? %>
  <% room.sector.enemies.each do |enemy| %>
    <% if enemy.alive? %>
      <%= render :partial => 'enemies/enemy', :locals => {:enemy => enemy} %>
    <% end %>
  <% end %>
<% end %>

<div><%= room.level == 2 ? 'Shield Strength' : 'Reactor Energy' %>: <%= room.power %> </div>

<% if room.upper? %>
  <div>Maximum Shield Strength: <%= room.sector.white? ? '3' : '2' %></div>
  <div>Damage Dealt By Laser: <%= room.sector.white? ? '5' : '4' %></div>
  <div>Laser Range: 15</div>
<% else %>
  <div>Maximum Reactor Energy: <%= room.sector.white? ? '5' : '3' %></div>
  <div>Damage Dealt By Laser: <%= room.sector.white? ? '1' : '2' %></div>
  <div>Laser Range: <%= room.sector.white? ? '8' : '15' %></div>
  <% if room.sector.white? %>
    <div>Cannisters Remaining: <%= room.ordinance %></div>
  <% end %>

<% end %>

