<!--
supper hacky workaround.
<head>
  <meta http-equiv="refresh" content="2" />
</head>
-->


<div class="info_column">
<%= render :partial => 'rooms/room_status' %>

<br/>
<%= render :partial => 'rooms/room_tips' %>
<h3> Sector Damage: <%= @room.sector.damage %></h3>
</div>
<div class="action_column">
<%= button_to_function "A", "roomsFunctions.pressAButton(#{@room.id});", :class => 'a_button' %>
<%= button_to_function "B", "roomsFunctions.pressBButton(#{@room.id});", :class => 'b_button' %>
</div>
