<head>

<script type="text/javascript">
roomIdForHackRefresh = <%= @room.id %>

$(document).ready(function() {
  setTimeout(roomsFunctions.refreshData, 2000);
});
</script>
<!--
  <meta http-equiv="refresh" content="2" />
-->
</head>


<div class="info_column">
<div id="mydiv">
<%= render :partial => 'rooms/room_status' %>
</div>

<br/>
<%= render :partial => 'rooms/room_tips' %>
<h3> Sector Damage: <%= @room.sector.damage %></h3>
</div>
<div class="action_column">
<%= button_to_function "A", "roomsFunctions.pressAButton(#{@room.id});", :class => 'a_button' %>
<%= button_to_function "B", "roomsFunctions.pressBButton(#{@room.id});", :class => 'b_button' %>
</div>
